<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Baseline</title>
  </head>
  <body>	
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="helloworld">
		<h1>Baseline</h1>						
		<form method="POST" action="${req.href('baseline')}/search">
			<table border="0">
				<tr>									
					<td>Name:</td>					
					<td><input name="termsearch" size="30px"/></td>
					<td>
						<select name="arg">
							<option value="name">Name</option>
							<option value="author">Author</option>
							<option value="wiki">Page Wiki</option>						
						</select>
					</td>
					<td><input type="submit" value="Search" size="30px"/></td>																																					
				</tr>											
			</table>								
		</form>
		<table border="0"  cellpadding="10px">
			<tr>
				<td></td>
    			<td>Name</td>    			
    			<td>Date</td>
    			<td>Author</td>    			
    		</tr>    		
  			<py:for each="item in data">
    			<tr>
    				<td><input type="checkbox" name="checkbase" value="${item[0]}+"/></td>					
    				<td><a href="${req.href('baseline')}/view?baselineId=${item[0]}">${item[1]}</a></td>    				    				    			
    				<td>${item[2].__str__()}</td>
    				<td>${item[3]}</td>						    				    			
    			</tr>
  			</py:for>  			  			  		
  		</table>  		  		
  		<a href="${req.href('baseline')}/insert">New Baseline</a>					  		  		  				
    </div>
  </body>
</html>
