<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Baseline</title>
  </head>
  <body>
	<script language="JavaScript">	
		function inserir(){
			document.getElementById('campo').value = "1";				
		}	
	</script>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="helloworld">
		<h1>Baseline</h1>
		<b>${teste}</b>				
		<form method="GET" action="${req.href('baseline')}/pesquisar">
			<table border="0">
				<tr>									
					<td>Nome:</td>					
					<td><input name="pesquisa" size="30px"/></td>
					<td>
						<select name="argumento">
							<option value="nome">Nome</option>
							<option value="autor">Autor</option>						
						</select>
					</td>
					<td><input type="submit" name="pesquisar" value="Pesquisar" size="30px"/></td>																																					
				</tr>											
			</table>								
		</form>
		<table border="0"  cellpadding="10px">
			<tr>
				<td></td>
    			<td>Nome</td>    			
    			<td>Data</td>
    			<td>Autor</td>
    		</tr>    		
  			<py:for each="item in dados">
    			<tr>
    				<td><input type="checkbox" name="checkbase" value="${item[0]}+"/></td>					
    				<td><a href="${req.href('baseline')}/view?baselineId=${item[0]}">${item[1]}</a></td>    				    				    			
    				<td>${item[2]}</td>
    				<td>${item[3]}</td>						    				    			
    			</tr>
  			</py:for>  			  			  		
  		</table>  		  		
  		<a href="${req.href('baseline')}/insert">Nova Baseline</a>					  		  		  				
    </div>
  </body>
</html>
