<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Baseline</title>       
 
	<script type="text/javascript">
		
	$(document).ready(function() {	        
	    
	    $("#send").click(
	    		function(){
	    			$('#selected-wiki').find('td').each(
		    				function(){
		    					el  = this.firstChild
		    					if(el){
			    					if(el.type == 'checkbox'){
			    						el.checked = true				    					
			    					}
		    					}
		    				}
		    				
					)
	    		}		
	    			
	    )
	
	    
	    $("#searchWiki").keypress(
				function(){
					$.ajax({								
						url:"searchWikiNames?wiki_name="+this.value,
						datatype: "html",
						success:function(n){							
							$("#table").html(n)							
						}
					}
					)
				}
			)
		
		$("#remove").click(
				function(){	    				    			
	    			$('#selected-wiki').find('td').each(
	    				function(){
	    					el  = this.firstChild
	    					if(el){
		    					if(el.type == 'checkbox'){
		    						if(el.checked){				    					
				    					node = el.parentNode.parentNode
				    					node.parentNode.removeChild(node)
		    						} 	    								    						
		    					}
	    					}
	    				}
	    			)	    			
	    		}
		)
	    
	    $("#add").live('click',
	    		function(){	    				    			
	    			$('#wikis').find('td').each(
	    				function(){
	    					el  = this.firstChild
	    					if(el){
		    					if(el.type == 'checkbox'){
		    						if(el.checked){
				    					arg = el.value.split("+")
				    					$('#fieldsetAd').css("display","")
				    					$('#selected-wiki').append('<tr><td><input type="checkbox" value="'+arg[0]+'+'+arg[1]+'" name="checkbase"/></td><td>'+arg[0]+'</td>\
				    												<td>'+arg[1]+'</td><td>'+arg[2]+'</td></tr>')				    									    					
		    						} 	    								    						
		    					}
	    					}
	    				}
	    			)	    			
	    		}
		)
	}); 
	


	
	</script>	
  </head>
  <body>	
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="helloworld">
		<h3>New Baseline</h3>																			
			<div>
				Search:  <input id="searchWiki" name="searchWiki" size="30px"/>
			</div>					   				   																				
		<fieldset style="width: 580px; float: left; border-color: black">
			<legend>List Wiki Pages</legend>			
			<div id="table"></div>
  		</fieldset>
  		
  		<form method="POST" action="info" id="frm_baseline">  		
  		<fieldset style="width: 580px; float: right; border-color: black;">
	  		<legend>Baseline data</legend>
	  		<table border="0">
		  		<tr>									
					<td>Name:</td>					
					<td><input name="name" id="nm_baseline" size="30px" maxlength="50"/><span id="msg" style="color: red"></span></td>																																					
				</tr>
			</table>
			<table border="0">
		  		<tr>
		  			<td>Comments</td>	
		  		</tr>
		  		<tr>
		  			<td><textarea name="comment" id="comment" style="border-color: gray; width: 561px; height: 160px;"></textarea></td>	
		  		</tr>
	  		</table>
	  		<fieldset id="fieldsetAd" style="border-color: white; display: none">			
				<input type="button" value="Remove" id="remove" class="button"/>
				<table border="0" style="width: 560px"  id='selected-wiki' cellspacing="0" class="teste">											
					<thead>
						<tr>
							<td></td>
							<td class="title">Name</td>
							<td class="title">Author</td>
							<td class="title">Version</td>
						</tr>
					</thead>					
				</table>				
  			</fieldset>
	  		<input type="submit" value="Create Baseline" id="send" class="button"/>  		
  		</fieldset> 
  		
  		
  		<br clear="both"></br>  		  		  		
  		</form>					  		  		  				
    </div>
    <script>
    $("#frm_baseline").submit(function() {
        if ($("#nm_baseline").val() != "") {
          $("#msg").text("Validated...").show();
          return true;
        }
        $("#msg").text("* Required!").show().fadeOut(10000);
        return false;
      });

    </script>
  </body>
  
</html>
