<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Baseline</title>       
 
	<script type="text/javascript">
		
	$(document).ready(function() {
	    $.fn.autosugguest({
	           className: 'ausu-suggest',
	          methodType: 'get',
	            minChars: 2,
	            dataFile: 'json'
	    });
	});    
	</script>	
  </head>
  <body>	
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="helloworld">
		<h1>Nova Baseline</h1>				
		<form method="POST" action="inserindo">			
			<table border="0">
				<tr>									
					<td>Nome:</td>					
					<td><input name="nm_baseline" size="30px"/></td>																																					
				</tr>
				<tr>
					<td>Pesquisar:</td>
					<td>
						<div class="ausu-suggest">
		      				<input type="text" size="25" value="" name="pesquisar" id="pesquisar" autocomplete="off" />            
		   				</div>
	   				</td>
   				</tr>											
			</table>						
		<table border="0"  cellpadding="10px">
			<tr>
				<td></td>
    			<td>Nome</td>    			
    			<td>Versão</td>
    		</tr>    		
  			<py:for each="item in dados">
    			<tr>
    				<td><input type="checkbox" name="checkbase" value="${item[0]}+${item[1]}"/></td>					
    				<td><a href="../wiki/${item[0]}?version=${item[1]}">${item[0]}</a></td>    				    				
    				<td>${item[2]}</td>
    				<td>${item[1]}</td>						  				    				
    			</tr>
  			</py:for>  			  			  		
  		</table>
  		<table border="0">
  		<tr>
  			<td>Comentarios</td>	
  		</tr>
  		<tr>
  			<td><textarea rows="10" cols="80" name="comentario" id="comentario"></textarea></td>	
  		</tr>
  		</table>
  		<input type="submit" value="Enviar"/> 
  		</form>					  		  		  				
    </div>
  </body>
</html>
